<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="/Users/amuthansakthivel/IdeaProjects/SeleniumAppiumTestsInGithubRunners">
        <classes>
            <class name="com.mobile.AndroidTest"/>
            <class name="com.web.WebTest"/>
            <class name="com.mobile.IosTest"/>
        </classes>
    </test>
</suite>