name: unit-test

on:
  push:
    branches:
      - main
      - 'releases/**'

  pull_request:
    types: [opened, synchronize]

  issues:
    types:
      - opened
      - labeled

  workflow_dispatch:

jobs:
  build:
    name: run-unit-test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        timeout-minutes: 10
        with:
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        timeout-minutes: 10
        with:
          java-version: 11

      - name: Run unit test
        timeout-minutes: 10
        run: mvn clean test -Punit-test
